<div class="w3-bar w3-border w3-light-grey">
  <a href="#" class="w3-bar-item w3-button w3-border-right">Personal</a>
  <a href="#" class="w3-bar-item w3-button w3-border-right">Plans</a>
  <a href="#" class="w3-bar-item w3-button w3-border-right">KPIs</a>
  <a href="#" class="w3-bar-item w3-button w3-border-right">Other</a>
  <a href="#" class="w3-bar-item w3-button w3-border-right">Dasboards</a>
</div>